Abc.Datum.Client/Service References/Datum/Datum1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/Datum.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8002/Datum.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ErrorItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LogItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="EventType" type="tns:EventTypes" />
          <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:ErrorItem" />
          <xs:element minOccurs="0" name="SessionIdentifier" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ErrorItem" nillable="true" type="tns:ErrorItem" />
  <xs:complexType name="LogItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Secured">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeploymentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OccurredOn" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogItem" nillable="true" type="tns:LogItem" />
  <xs:complexType name="Secured">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Secured" nillable="true" type="tns:Secured" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ValidationKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:simpleType name="EventTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unknown">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Critical">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Error">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Warning">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Information">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Verbose">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Start">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Stop">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Suspend">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Resume">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Transfer">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4096</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EventTypes" nillable="true" type="tns:EventTypes" />
  <xs:complexType name="Message">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LogItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionIdentifier" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ServerStatisticSet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Secured">
        <xs:sequence>
          <xs:element minOccurs="0" name="CpuUsagePercentage" type="xs:float" />
          <xs:element minOccurs="0" name="DeploymentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemoryUsagePercentage" type="xs:float" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NetworkPercentages" nillable="true" type="q1:ArrayOffloat" />
          <xs:element minOccurs="0" name="OccurredOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PhysicalDiskUsagePercentage" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServerStatisticSet" nillable="true" type="tns:ServerStatisticSet" />
  <xs:complexType name="Occurrence">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LogItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" type="ser:duration" />
          <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionIdentifier" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ThreadId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Occurrence" nillable="true" type="tns:Occurrence" />
  <xs:complexType name="EventLogItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LogItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="EntryType" type="tns:EventLogEntryType" />
          <xs:element minOccurs="0" name="EventId" type="xs:int" />
          <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventLogItem" nillable="true" type="tns:EventLogItem" />
  <xs:simpleType name="EventLogEntryType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unknown">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Error">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Warning">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Information">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SuccessAudit">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FailureAudit">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="EventLogEntryType" nillable="true" type="tns:EventLogEntryType" />
  <xs:complexType name="Configuration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Secured">
        <xs:sequence>
          <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Configuration" nillable="true" type="tns:Configuration" />
  <xs:complexType name="ArrayOfConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Configuration" nillable="true" type="tns:Configuration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConfiguration" nillable="true" type="tns:ArrayOfConfiguration" />
</xs:schema>