Abc.Test.Services.Client/Service References/Datum.Client/Datum2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/Datum.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" />
  <xs:element name="LogException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="exception" nillable="true" type="q1:ErrorItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="message" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogServerStatisticSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="data" nillable="true" type="q3:ServerStatisticSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogServerStatisticSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="occurrence" nillable="true" type="q4:Occurrence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogPerformanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEventItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="item" nillable="true" type="q5:EventLogItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEventItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="configuration" nillable="true" type="q6:Configuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Abc.Services.Contracts" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q7:ArrayOfConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>